@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #05050a;
  color: #e2e8f0;
  overflow-x: hidden;
}

/* The Matrix/Blueprint Grid Effect */
.bg-grid {
  background-size: 40px 40px;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
}

/* Custom Scrollbar to match IDEs */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0b0c15;
}
::-webkit-scrollbar-thumb {
  background: #2d3748;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffae00;
}
